* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  display: flex;
  justify-content: space-around;
}

section{
  display: flex;
  justify-content: center;
}

section p {
  margin-bottom: 20px;
}

.sec2 {
  flex-wrap: wrap;
  height: auto;
  width: 500px;
  margin: auto;
  justify-content:space-evenly;
  align-items: flex-start;
  
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
