*{
    margin: 0;
    padding: 0;
}

.super-mario {
    width: 200px;
    
    display: block;
  }
  
  .goomba {
    width: 100px;
    margin-left: 50px;
  }
  
  .baloon {
    position: absolute;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    padding: 50px 20px;
    
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    padding: 200px 300px;
    
  }

 

 